@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --darkGreen: #003832;
    --green: #00504A;
    --shade: #8DBDBA;
    --light: #6BD0CC;
    --cyanNeon: #07F9ED;
    --greenNeon: #07F978;
    --white: #FFFFFF;
  }

  body {
    font-family: 'TT Chocolates Trl';
  }



